/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img{
  height: 400px;
  width: 400px;
} */

@tailwind base;
@tailwind components;

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap'); */
body{
  font-family: 'Noto Sans JP', sans-serif;
}

.thumbs-wrapper axis-vertical{
  float: left;
}
.animated{
  float: left;
}
/* .bg-blue-500 {
  height: 70px;
  width:50px;
  --bg-opacity: 1;
  background-color: #4299e1;
  background-color: rgba(66, 153, 225, var(--bg-opacity));
}


.hero {
  @apply py-20;
}

.title {
  @apply text-5xl text-center;
  color: #090;
  line-height: 1.15;
}

.header__image{
  width: 100vw;
} */

@tailwind utilities;